.header-color {
  background: #3c3b3f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #605c3c,
    #3c3b3f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #605c3c,
    #3c3b3f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.land-page {
  width: 100%;
  margin: auto;
  min-height: 100%;
}
.landing-grid {
  background: #e0eafc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #cfdef3,
    #e0eafc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #cfdef3,
    #e0eafc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width: 100%;
  min-height: 100%;
  margin: auto;
  text-align: center;
}

.avatar-img {
  height: 500px;
  margin: auto;
  border-radius: 50%;
  border: 0.3rem solid white;
}
.banner-text {
  background-color: black;
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  margin-top: 3rem;
}
.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
  text-align: center;
}
.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}
.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
  text-align: center;
}
.social-link {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 50%;
}
.social-link i {
  color: white;
  font-size: 5em;
  padding: 8px;
}

@media screen and (min-width: 768px) {
  .project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
}
.categories-tbs {
  background: #e0eafc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #cfdef3,
    #e0eafc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #cfdef3,
    #e0eafc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width: 100%;
  min-height: 100%;
  margin: auto;
}
.categories-tbs strong {
  color: black;
}
